{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<meta content="fDOacbtln3HsYGUUHoXKbZnFmVz1FNb5vaYFty4XOJ4" name="google-site-verification"/>

<!-- Open Graph -->
<meta content="website" property="og:type"/>
<meta content="Hipster Timer Backend" property="og:site_name"/>
<meta content="{% if page and page.title %}{{ page.title }} - Hipster Timer Backend{% else %}Hipster Timer Backend{% endif %}"
      property="og:title"/>
<meta content="{% if page and page.meta and page.meta.description %}{{ page.meta.description }}{% else %}All-in-one productivity backend API{% endif %}"
      property="og:description"/>
<meta content="https://onprem-hipster-timer.github.io/backend/{% if page %}{{ page.url }}{% endif %}"
      property="og:url"/>
<meta content="https://onprem-hipster-timer.github.io/backend/assets/preview.png" property="og:image"/>

<!-- Twitter Card -->
<meta content="summary_large_image" name="twitter:card"/>
<meta content="onprem-hipster-timer.github.io" property="twitter:domain"/>
<meta content="https://onprem-hipster-timer.github.io/backend/{% if page %}{{ page.url }}{% endif %}"
      property="twitter:url"/>
<meta content="{% if page and page.title %}{{ page.title }} - Hipster Timer Backend{% else %}Hipster Timer Backend{% endif %}"
      name="twitter:title"/>
<meta content="{% if page and page.meta and page.meta.description %}{{ page.meta.description }}{% else %}All-in-one productivity backend API{% endif %}"
      name="twitter:description"/>
<meta content="https://onprem-hipster-timer.github.io/backend/assets/preview.png" name="twitter:image"/>
{% endblock %}
